# Enables High DPI mode
[manifest]
version = "1.0.0"
priority = 0

[[patches]]
[patches.pattern]
target = "functions/button_callbacks.lua"
pattern = "highdpi = (love.system.getOS() == 'OS X')"
position = "at"
payload = "highdpi = (love.system.getOS() == 'OS X' or love.system.getOS() == 'Android' or love.system.getOS() == 'iOS')"
match_indent = true
times = 1

[[patches]]
[patches.pattern]
target = "main.lua"
pattern = "if love.system.getOS() == 'Windows' and false then --implement later if needed"
position = "at"
payload = "if true then"
match_indent = true
times = 1
